<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="IN" value="e:\Testy\" />
    <add key="1" value="" />
    <add key="2" value="" />
    <add key="3" value="logo2.png" />
    <add key="4" value="" />
    <add key="5" value="" />
    <add key="6" value="" />
    <add key="7" value="0procent2.png" />
    <add key="8" value="" />
    <add key="9" value="" />
  </appSettings>

</configuration>
